

<div class="container">
  <h2>About</h2>
  <%= @admin.about %>

  <% if current_admin %>

      <br>
      <a class="edit_about btn" href="/admins/edit" style="margin-top:50px;">Edit About?</a>

      <div id="about_edit"style="margin-top:30px;" >
        <hr>
     </div>
  <% end %>
</div>
