


  <div id="resources_container" class="row">

  <div style="background-color:white;">
    <div class="grid-example col s5 " style="max-width:50%;" >
      <h2>Resources</h2>
    <%Post.resources.each do |post| %>

      <div class="section">
       <h5><%=link_to post.title, post, class: "postlink"%></h5>
       <p><%=post.content[0,10]%>...</p>
      </div>

    <%end%>

    </div>

    <div class="grid-example col s5" style="max-width:50%;" >
      <h2>Tutorials</h2>
      <%Post.tutorials.each do |post| %>

      <div class="section">
       <h5><%=link_to post.title, post, class: "postlink"%></h5>
       <p><%=post.content[0,10]%>...</p>
      </div>

    <%end%>

    </div>
  </div>
</div>
