


<div class="container">
<div class="row">

    <%@galleries.each do |gallery| %>

      <%if gallery.images.length > 0%>
      <div class="col s4">
        <div class="carousel-item center gallery_div">
            <%= image_tag(gallery.images.first, size:"250x200",class: "responsive-img materialboxed postImage gallery_image")%>
            <%=link_to gallery.title, gallery, class: "postlink gallery_link"%>
        </div>
      </div>
      <%end%>
   <%end%>





 </div>
 </div>
