/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .carousel.carousel-slider {
     top: 0;
     left: 0;
     background-color: #000000e0;
     border-radius: 10px;
     /* margin-top: auto; */
 }

 img.responsive-img, video.responsive-video {
     width: 100%;
     /* align-self: center; */
     margin-left: auto;
     margin-right: auto;
     margin-top: auto;
     /* background-color: black; */
 }


#showIMG {
     height: 400px !important;
 }

.responsive-img materialboxed postImage{
  vertical-align: middle;
}
///////////////////////////////^^^^^show images
body{
  background-color: #00e8d0;
}
///////////////////////////////Materialize
#siteNav {
  background-color: #ff6969;
  border-color: white;

}

.sidenav {
  background-color: #ee6567;
  color: #fff;
  font-family: 'Pacifico', cursive;
  margin-top: 22px;
  font-weight: bold;
}

.sidenav li>a {
  color: white;
  font-size: 20px;
}

.navLinks{
  color: white;
  font-size: 20px;
  font-family: 'Pacifico', cursive;
  margin-top: 22px;
  font-weight: bold;
}

nav .brand-logo {
    position: absolute;
    color: #fff;
    display: inline-block;
    font-size: 2.1rem;
    padding: 0;
    padding-left: 22px;
}

 a:hover   {
    background-color: rgba(0, 0, 0, 0.1);
    text-decoration: none;
}

  a:visited {
    color: #fff;
}

#adminTab{
  background-color: yellow;
  width: 38%;
  height: 15px;
  border-radius: 5px;
}

.adminButton{
  color: white;
}

.carousel{

}
///////////////HOME PAGE//////////////////////////////////////////

#homePosts{
  background-color: #fff;
  border: 0px solid #fffa9b;
  border-radius: 5px;
  box-shadow: 4px 2px 4px 0px #666666;
}

.postlink{
  color: black;
}
.postlink:visited{
  color: black;
}


.video-container{
  border-radius: 5px;
}

///////////////////////ShowPage----------------
.postImage{
  border-radius: 5px;
}

.row .col.s12 {
    width: 100%;
    margin-left: auto;
    left: auto;
    right: auto;
    margin-bottom: 50px;
}
////////////////////////////////
.pageNav {
  background-color: #ff6969;
  border-color: white;
  border-radius: 5px;
}

.postNav  {
  background-color: #ff6969;
  border-color: white;
  border-radius: 5px;
  width: 100%;
  margin-top: -15px;
}

.postNavButton {
  margin: -10px;
  background-color: white;
  color: black;
  border: white;
  border-radius: 5PX;
}

.navbar-inverse .navbar-toggle {
    border-color: white;
}

#logo {
  color: white;
  font-family: 'Pacifico', cursive;
  font-weight: bold;
  margin-top: 15px;



}

.pageNav a  {
  color: white;
  font-size: 15px;
}

.navbar-inverse .navbar-toggle .navbar-nav {
    border-color: white;
}

.navbar-inverse .navbar-nav>li>a {
    color: white;
}

a:hover {
  background-color: gold;
}

.resultHeader {
    font-family: 'Pacifico', cursive;
}



///////////////////////////////////////
